<script type="text/javascript" charset="utf-8">

// Positividade dos Politicos
$(document).ready(function(){
	var chart = new Highcharts.Chart({
         chart:  
            {   renderTo: 'all_days_chart',
                type: 'column'
            },
            title: {
                text: 'Positividade dos Dias'
            },
            xAxis: {
                categories: <%=raw @get_dias.to_json %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'pontos'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Neutras',
                data: <%= @neutras.to_json %>
    
            }, {
                name: 'Positivas',
                data: <%= @positivas.to_json %>
    
            }, {
                name: 'Negativas',
                data: <%= @negativas.to_json %>
    
            }]
        });
});
</script>

<div id="row">
    <div id="all_days_chart" ></div>
</div>