<div class='row'>
	<h1 class="text-center"> Projecto de EADW Tech Lisbon</h1>
</div>
<div class='row'>
<h3 class="text-center"> Escolha uma opção na barra de navegação para visualizar gráficos</h3>
</div>